In [11]:
import sys
import SimpleITK as sitk
import matplotlib.pyplot as plt
%matplotlib inline 
import numpy as np
import os
import fnmatch
import shutil
from ipywidgets import interact, fixed
import pandas as pd

In [13]:
#function for showing volume images
def myshow(image_arr,slice_n):
    plt.imshow(image_arr[slice_n,:,:],cmap='gray')
    plt.show()

In [6]:
data = pd.read_csv('C://Image Processing/brats data/MICCAI_BraTS_2018_Data_Training/survival_data.csv')
data.head(10)

              BraTS18ID     Age  Survival ResectionStatus
0  Brats18_TCIA08_167_1  74.907       153             NaN
1  Brats18_TCIA08_242_1  66.479       147             NaN
2  Brats18_TCIA08_319_1  64.860       254             NaN
3  Brats18_TCIA08_469_1  63.899       519             NaN
4  Brats18_TCIA08_218_1  57.345       346             NaN
5  Brats18_TCIA08_406_1  78.745        82             NaN
6  Brats18_TCIA08_280_1  57.362       508             NaN
7  Brats18_TCIA08_105_1  66.627        77             NaN
8  Brats18_TCIA08_278_1  50.501      1458             NaN
9  Brats18_TCIA06_247_1  76.699       244             NaN

In [10]:
data.loc[data.Age<35]

               BraTS18ID     Age  Survival ResectionStatus
34  Brats18_TCIA03_121_1  30.408       747             NaN
72  Brats18_TCIA01_186_1  33.888       370             NaN
73  Brats18_TCIA01_460_1  18.975       630             NaN
76     Brats18_2013_11_1  29.120       150             GTR
92   Brats18_CBICA_AXJ_1  27.811      1767             GTR

In [16]:
#getting list of file names from directory 


list_of_files = {}
for (dirpath, dirnames, filenames) in os.walk('C://Image Processing/brats data/MICCAI_BraTS_2018_Data_Training/'):
    for filename in filenames:
        if filename.endswith('.mhd') or filename.endswith('.zraw') or filename.endswith('.raw'): 
            list_of_files[filename] = os.sep.join([dirpath, filename])

In [32]:
#Getting list with names of t2 images

t2 = []

for (dirpath, dirnames, filenames) in os.walk('C://Image Processing/brats data/MICCAI_BraTS_2018_Data_Training/'):
    for filename in filenames:
        if 't2' in filename.split('.')[0]:
            t2.append(filename)

285